.bg-op {
  background-image: url('../../assets/background/bg-ocg.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-op-2 {
  background-image: url('../../assets/background/bg-ocg-2.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-sleeve-001 {
  background-image: url('../../assets/sleeves/S001.png');
  background-size: cover;
}
.bg-sleeve-002 {
  background-image: url('../../assets/sleeves/S002.png');
  background-size: cover;
}
.bg-sleeve-003 {
  background-image: url('../../assets/sleeves/S003.png');
  background-size: cover;
}
.bg-sleeve-004 {
  background-image: url('../../assets/sleeves/S004.png');
  background-size: cover;
}
.bg-circle {
  background-image: url('../../assets/circle.png');
  background-size: cover;
}
.bg-circle-2 {
  background-image: url('../../assets/circle-2.png');
  background-size: cover;
}